<!-- This is the sample of the hamburger icon -->
<div #navIcon1 id="navIcon1" (click)="navIcon_OpenClickAll('navIcon1')">
  <span></span>
  <span></span>
  <span></span>
</div>
<br>
<div #navIcon2 id="navIcon2" (click)="navIcon_OpenClickAll('navIcon2')">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<br>
<div #navIcon3 id="navIcon3" (click)="navIcon_OpenClickAll('navIcon3')">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<br>
<div #navIcon4 id="navIcon4" (click)="navIcon_OpenClickAll('navIcon4')">
  <span></span>
  <span></span>
  <span></span>
</div>