<h3>Event Driven Application Development</h3>
<p>
  List all of the mock Data names
</p>
<ul>
  <li *ngFor="let bill of bills;let i = index" (click)="itemClicked(bill)">
       <span>{{bill.br.bill_name}}</span>
  </li>
</ul>
<div>
<!-- Input with event driven -->
<label for="myName">User Name:</label>
  <input #myName type="text" [(ngModel)]="userName" (change)="trackUserName()"/>
 <p>
    {{myName.value}}
 </p>
  <label for="myData">On Key Up:</label>
  <!-- <input #myData type="text" (keyup)="onKeyUp($event)"/> -->
 <!-- Enter data using the value without the event object -->
  <!-- <input #myData type="text" (keyup)="onKeyUp(myData.value)"/>
     {{myData.value}} -->
    <!-- Enter the value with on key.enter -->
     <input #myData type="text" (keyup.enter)="onKeyUpEnter(myData.value)"/>
     {{myData.value}}


</div>

