<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul>
<div>
  <!-- This is  using the sample code -->
  <app-prov-demo></app-prov-demo>

</div>
<div>
  <!-- On change detection -->
  <app-change-detection></app-change-detection>
  <app-hello-world></app-hello-world>
  <p>This
    <span appHighlight [textHighLightColors]="highlightColors[0]">is hightlighted</span>
    <span appHighlight [textHighLightColors]="highlightColors[1]">text</span>
  </p>
  <br>
  <!-- Default ignore colors -->
  <p>
    <span appHighlight>Welcome</span> to my World</p>
</div>
<div #billsDisplay>
   <app-listbills></app-listbills>
</div>
 <div>
   <app-event-driven (dataMouseClick)= "billItemClicked($event)" ></app-event-driven>
</div> 
<div>
  <p>Hamburger Icon</p>
  <app-hambuger-icon></app-hambuger-icon>
</div>
<div>
 <div class="alert is-important" role="alert" style="margin: 10px;">
   This is a primary alert-check it out!
 </div>
 <div class="alert is-message" role="alert" style="margin: 10px;">
    This is my check box, Wow, this is really cool, I love it!
  </div>
</div>
<div>
  <h3>List of Task:</h3>
  <ul>
    <li *ngFor="let task of taskDataList">
      {{task.event}}
    </li>
  </ul>
  <p>Total Items: {{totalItems}}</p>
 
</div>
<app-child-component [totalTask]="totalItems" (taskAdded)="onTaskAdded($event)"></app-child-component> 




